/* font */
@font-face {
    font-family: poppin;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppin-i;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}


*{
    padding: 0;
    margin: 0;
    font-family: poppin;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
    height: 100vh;
}

section{
    background-color: white;
    margin: 0 auto;
    width: 520px;
    padding: 40px;
    padding-bottom: 50px;
    height: auto;
    border-radius: 20px 20px 150px 20px;
}


/* form */
.form{
    display: flex;
    justify-content: space-between;
    width: 380px;
    font-family: poppin;
}
.text{
    font-size: 10px;
    padding-bottom: 3px;
    color: hsl(0, 1%, 44%);
}
input{
    padding: 10px;
    width: 90px;
    height: 30px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    font-size: 20px;
}


/* error */
.error{
    color: hsl(0, 100%, 67%);
}
.inputError{
    border-color: hsl(0, 100%, 67%);
}

/* divider */
.hide{
    width: 0;
}
hr {
    height: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid hsl(0, 0%, 86%);
  }

.divider{
    display: flex;
    align-items: center;
}

.arrow{
    background-color: hsl(259, 100%, 65%);
    width: 46px;
    height: 46px;
    padding: 15px;
    border-radius: 50%;
}

.arrow:hover{
    background-color: black;
}

/* result */
h1{
    padding-bottom: 0;
    margin: 0;
    font-family: poppin-i;
    font-size: 65px;
    height: 70px;
}
a{
   color: hsl(259, 100%, 65%); 
}

/* footer */
.attribution{ 
    font-size: 11px; 
    text-align: center;
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
}

/*SMALLER VIEW */

@media (max-width: 600px) {
    section{
        height: 60vh;
        min-height: 500px;
        margin: 20px;
        width: 400px;
        border-radius: 25px 25px 150px 25px;
    }
    .form{
        padding: 20px 0px;
        justify-content: space-around;
        width: 400px;
        justify-self: center;
    }
    .hide{
        width: 100%;
    }
    .divider{
        padding: 30px 0px;
    }
    h1{
        font-size: 72px;
        height: 80px;
        justify-self: left;
    }

}

@media (max-width: 375px) {
    section{
        height: 60vh;
        min-height: 500px;
        margin: 20px;
        width: 300px;
        border-radius: 25px 25px 150px 25px;
    }
    .form{
        padding: 20px 0px;
        justify-content: space-around;
        width: 400px;
        justify-self: center;
    }
    .hide{
        width: 100%;
    }
    .divider{
        padding: 30px 0px;
    }
    h1{
        font-size: 72px;
        height: 80px;
        justify-self: left;
    }

}
